@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Data.Models.PostViewModel
<div class="row">
    <div class="col-md-4">
        <form  action="/home/CreatePost" method="post">
            <h4>Create Post</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Content"></label>
                <input asp-for="@Model.Content" class="form-control" />
                <span asp-validation-for="@Model.Content" class="text-danger"></span>
            </div>
            
            <input type="submit" value="submit"/>
        </form>
    </div>
    </div>